@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-handlee: "Handlee", cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  width: 100vw; /* asegura que no se salga horizontalmente */
  overflow-x: hidden; /* bloquea scroll lateral */
}

body {
  background: rgba(224, 128, 19, 0.475);
  color: var(--foreground);
  font-family: var(--font-handlee), Arial, Helvetica, sans-serif;
}

/* Asegurar que el html y body ocupen toda la altura */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Mejoras para el fondo fijo en móviles */
@media (max-width: 768px) {
  .fixedBackground {
    background-attachment: scroll !important;
  }
}

/* Opcional: mejorar el rendimiento con transform */
.fixedBackground {
  transform: translateZ(0);
}

/* Asegurar que el contenido principal tenga posición relativa */
.main-content {
  position: relative;
}

@media screen and (max-width: 768px) {
  .mainContent {
    padding-top: 90px;
  }
}
