@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-handlee: "Handlee", cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("https://res.cloudinary.com/deek9levs/image/upload/v1757427253/Web_sabana_1920_otg8os.png")
    no-repeat top center;
  background-size: cover; /* ocupa todo el ancho/alto, aunque corte un poco */
  background-attachment: scroll; /* el fondo se mueve con el scroll */
  color: var(--foreground);
  font-family: var(--font-handlee), Arial, Helvetica, sans-serif;
}
