@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-handlee: "Handlee", cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  background: url("https://res.cloudinary.com/deek9levs/image/upload/v1757607317/Sabana_Web_Corregida_1_ohvrfv.png")
    no-repeat top center;
  background-size: cover; 
  background-attachment: scroll;
  color: var(--foreground);
  font-family: var(--font-handlee), Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  body {
    background: url("https://res.cloudinary.com/deek9levs/image/upload/v1770643463/Movil_Web_Sabana_1_kynn5h.png")
      no-repeat top center;
    background-size: cover;
    background-attachment: scroll;
  }
}
